/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

nav{
  background-color: black !important;
  padding-top: 20px !important;
  height: 100px !important;
}

#bgp{
  background-color: black !important;
  padding-top: 50px !important;
  padding-bottom: 10px !important;
}

.logo{
  margin-top: 10px !important;
  max-width: 150px !important;
}

#btn-gd{
width: 250px;
height: 50px;
background: linear-gradient(180deg, #FFC700 0%, #FF0000 100%);
border-radius: 3px;
margin-top: 0px !important;
margin-bottom: 30px !important;

}

#video{
  margin-top: 0px !important;
}

.logop{
  text-align: center !important;
  margin-bottom: 20px !important;
}

h3{
  font-weight: 600 !important;
}

p{
  font-size: 18px !important;
}

a{
  font-size: 18px !important;
  font-weight: 600;
  color: white !important;
}



form{
  margin-left: 0px !important;
}

input{
  background-color: #fff !important;
  color: #000 !important;
}






input::placeholder {
  color: #000 !important;
  font-size: 16px !important;
}

#_form_9_{
  padding: 0px !important;
}

#_form_13_submit{
  border: none !important;
}


._form-branding{
  background-color: #000 !important;
}

form{
  background-color: #000 !important;
}

._form-content{
  background-color: #000 !important;
}
input{
  padding: 15px !important;
  border: none !important;
}

#_form_13_ ._submit { -webkit-appearance:none; cursor:pointer; font-family:arial, sans-serif; font-size:14px; text-align:center; background: linear-gradient(180deg, #FFC700 0%, #FF0000 100%) !important; border: 0px solid #fff !important; color:#fff !important; padding:15px !important; }
#_form_13_submit{
  border: none !important;
}
#_form_13_{
  padding: 0px !important;
}
._form_13_{
  background-color: #000 !important;
}

#_form_15_ ._submit { -webkit-appearance:none; cursor:pointer; font-family:arial, sans-serif; font-size:14px; text-align:center; background: linear-gradient(180deg, #FFC700 0%, #FF0000 100%) !important; border: 0px solid #fff !important; color:#fff !important; padding:15px !important; }
#_form_15_submit{
  border: none !important;
}
#_form_15_{
  padding: 0px !important;
}
._form_15_{
  background-color: #000 !important;
}


#_form_17_ ._submit { -webkit-appearance:none; cursor:pointer; font-family:arial, sans-serif; font-size:14px; text-align:center; background: linear-gradient(180deg, #FFC700 0%, #FF0000 100%) !important; border: 0px solid #fff !important; color:#fff !important; padding:15px !important; }
#_form_17_submit{
  border: none !important;
}
#_form_17_{
  padding: 0px !important;
}
._form_17_{
  background-color: #000 !important;
}

