/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

nav{
  background-color: black !important;
  padding-top: 20px !important;
  height: 100px !important;
}

#bgp{
  background-color: black !important;
  padding-top: 50px !important;
  padding-bottom: 10px !important;
}

.logo{
  margin-top: 10px !important;
  max-width: 150px !important;
}

#btn-gd{
width: 250px;
height: 50px;
background: linear-gradient(180deg, #FFC700 0%, #FF0000 100%);
border-radius: 3px;
margin-top: 0px !important;
margin-bottom: 30px !important;

}

#video{
  margin-top: 0px !important;
}

.logop{
  text-align: center !important;
  margin-bottom: 20px !important;
}

h3{
  font-weight: 600 !important;
}

p{
  font-size: 18px !important;
}

a{
  font-size: 18px !important;
  font-weight: 600;
  color: white !important;
}

#_form_9_{
  padding: 0px !important;
}